{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Megha, Aggarwal, codeb1ooded, developer, portfolio">
	<meta name="Description" content="Portfolio website of Megha Aggarwal, identified as Android  (github handle: codeb1ooded)">

	<title> Megha | codeb1ooded </title>

	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS Stylesheets -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/icofont.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body >
	<!-- start preloader -->
	<div id="loader-wrapper">
		<div class="logo"></div>
		<div id="loader">
		</div>
	</div>
	<!-- end preloader -->

	<!-- Start Header Section -->
	<header class="main_menu_sec navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="lft_hd">
						<a href="#"><img src="{% static 'images/logo.png' %}" alt="Logo"/></a>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-12">
					<div class="rgt_hd">
						<div class="main_menu">
							<nav id="nav_menu">
								<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div id="navbar">
									<ul>
										<li><a class="page-scroll" href="index.html">Home</a></li>
									</li>
									<li><a class="page-scroll" href="#abt_sec">About</a></li>
									<li><a class="page-scroll" href="#project_sec">Projects <i class="fa fa-angle-down"></i></a>
										<ul>
											<li><a class="page-scroll" href="#">Shikshak Arohan</a></li>
											<li><a class="page-scroll" href="#">RTI Management System</a></li>
											<li><a class="page-scroll" href="#">MoviePlate Android App</a></li>
											<li><a class="page-scroll" href="#">Othello</a></li>
											<li><a class="page-scroll" href="#">Eventley</a></li>
											<li><a class="page-scroll" href="#">Calculator</a></li>
										</ul>
									</li>
									<!--<li><a class="page-scroll" href="blog/">Blog</a></li> -->
									<li><a class="page-scroll" href="#achievement_section">Achievements</a></li>
									<li><a class="page-scroll" href="#tm_sec">Technical Skills</a></li>
									<li><a class="page-scroll" href="#ctn_sec">Contact Me</a></li>
									<!-- <li><a class="page-scroll" href="resume_pdf.pdf" download="Megha_Aggarwal">Resume</a></li> -->

								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- End Header Section -->

<!-- start slider Section -->
<section id="slider_sec">
	<div class="container">
		<div class="slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="wrap_caption">
							<div class="caption_carousel">
								<h1>Hey, Glad you are here!! :)</h1>
								<p class="above_caption_carousel"> Keep scrolling to know </p><br>
								<p class="below_caption_carousel"> more about me.... </p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="wrap_caption">
							<div class="caption_carousel">
								<h1>Projects</h1>
								<p class="above_caption_carousel"> Rakshak Arohan, EmpowerHer++, Shikshak Arohan </p><br>
								<p class="middle_caption_carousel"> RTI Management System, Movieplate Android App </p><br>
								<p class="below_caption_carousel"> Eventley, Calculator app </p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="wrap_caption">
							<div class="caption_carousel">
								<h1>Achievements</h1>
								<p class="above_caption_carousel"> Winner @ Wintathon, GHCI 2017 scholar, ACM ICPC regional partcipant </p><br>
								<p class="middle_caption_carousel"> Winner @ Smart India Hackathon </p><br>
								<p class="below_caption_carousel"> Aziz Premji Award, Codediva, Cryptocodz </p>
							</div>
						</div>
					</div>
					<div class="item ">
						<div class="wrap_caption">
							<div class="caption_carousel">
								<h1>Skills</h1>
								<p class="above_caption_carousel"> Android App Development, Git & Github, Algorithm, Databases</p><br>
								<p class="below_caption_carousel">Linux, C/C++, Python, Java, Django, PHP, Xampp</p>
							</div>
						</div>
					</div>
					<div class="item ">
						<div class="wrap_caption">
							<div class="caption_carousel">
								<h1>Education</h1>
								<p class="above_caption_carousel"> IGDTUW(B.Tech-CSE) </p><br>
								<p class="middle_caption_carousel"> Vivekanand School(12<sup>th</sup>) </p><br>
								<p class="below_caption_carousel"> Nav Jeevan Adarsh Public School (10<sup>th</sup>)</p>
							</div>
						</div>
					</div>
					<!--<div class="item ">
						<div class="wrap_caption">
							<div class="caption_carousel">
								<h1>Positions of Responsibility</h1>
								<p class="above_caption_carousel">Member of EM team in Taarangana, Volunteer in publicity team of Espectro</p><br>
								<p class="below_caption_carousel">Member of EM team of Technoliterati Society, Voluteered in Annual fest of LFT, DWD</p>
							</div>
						</div>
					</div> -->
				</div>

				<!-- Controls -->
				<a class="left left_crousel_btn" href="#carousel-example-generic" role="button" data-slide="prev">
					<i class="fa fa-angle-left"></i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right right_crousel_btn" href="#carousel-example-generic" role="button" data-slide="next">
					<i class="fa fa-angle-right"></i>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End slider Section -->

<!-- start about Section -->
<section id="abt_sec">
	<div class="container">
		<div class="row" style="text-align:center">
			<img src="{% static 'images/semicolon.jpeg' %}" alt="Semicolon logo" align="middle">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h1>ABOUT</h1>
					<h2 onclick="window.open('resume_pdf.pdf')" onmouseover="this.style.color='#3498db';" onmouseout="this.style.color='#606060';">Hi there, I'm Megha Aggarwal<br> a.k.a. <br>codeb1ooded</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="abt">
					<p>I am a &lt;Developer&gt; by heart and currently, an SE at Microsoft IDC; I am graduated in B.Tech. CSE from Igdtuw, Delhi; I love to &lt;code&gt; and encourage others for the same; The world of tech and how it impacts our day-to-fay life on such a big scale fascinates me;</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->

<!-- start our achievement Section -->
<section id="achievement_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="all_tstm">
					{% for achievement in achievements %}
					<div class="clnt_tstm">
						<div class="sngl_tstm">
							<i class="fa fa-quote-right"></i>
							<h3>{{ achievement.subtitle | safe  }}</h3>
							<p>{{ achievement.description | safe }}</p>
							<h6>{{ achievement.issuer | safe  }}</h6>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End our achievement Section -->

<!--<div class="project-card">
  <div class="meta">
	<div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
	<ul class="details">
	  <li class="author"><a href="#">John Doe</a></li>
	  <li class="date">Aug. 24, 2015</li>
	  <li class="tags">
		<ul>
		  <li><a href="#">Learn</a></li>
		  <li><a href="#">Code</a></li>
		  <li><a href="#">HTML</a></li>
		  <li><a href="#">CSS</a></li>
		</ul>
	  </li>
	</ul>
  </div>
  <div class="description">
	<h1>Learning to Code</h1>
	<h2>Opening a door to the future</h2>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
	<p class="read-more">
	  <a href="#">Read More</a>
	</p>
  </div>
</div>
<div class="project-card alt">
  <div class="meta">
	<div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
	<ul class="details">
	  <li class="author"><a href="#">Jane Doe</a></li>
	  <li class="date">July. 15, 2015</li>
	  <li class="tags">
		<ul>
		  <li><a href="#">Learn</a></li>
		  <li><a href="#">Code</a></li>
		  <li><a href="#">JavaScript</a></li>
		</ul>
	  </li>
	</ul>
  </div>
  <div class="description">
	<h1>Mastering the Language</h1>
	<h2>Java is not the same as JavaScript</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
	<p class="read-more">
	  <a href="#">Read More</a>
	</p>
  </div>
</div>-->

<!-- start Project Section -->
<section id="project_sec">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			<div class="title_sec">
				<h1>MY PROJECTS</h1>
				<h2>SOME OF MY PROJECTS WITH SOME IN WORKING PHASE</h2>
			</div>

			{% for project in projects %}
			{% if forloop.counter0|divisibleby:"3" %}
				</div>
				<div class="row">
			{% endif %}
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="{{ project.star_link | safe }}">
					<div class="service">
						<i class="{{ project.fa_icon | safe }}"></i>
						<h2>{{ project.title | safe }}</h2>
						<div class="service_hoverly">
							<i class="{{ project.fa_icon | safe }}"></i>
							<h2>{{ project.title | safe }}</h2>
							<p>{{ project.description | safe }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
		</div>
	</div>
</section>
<br><br><br><br><br><br><br>
<!-- End Service Section -->

<h2 id="title-work-experience">Education & Work Experience</h2>
<div id="container-timeline">
	<ul class="timeline">

		<li>
			<div class="timeline-badge">
				<a><i class="fa fa-circle" id=""></i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4>Android developer at The Testament</h4>
				</div>
				<div class="timeline-body">
					<ul style="padding:0 40px">
						<li>Worked on <a href="https://play.google.com/store/apps/details?id=in.thetestament.market_acquire">Market Acquire</a></li>
						<li>Worked on features including Firebase, Bug fixes, Dynamic Views, etc.</li>
						<li>Market Acquire is a business-specific data management tool developed by The Testament which effortlessly manages the registration data collected on field.</li>
						<li>Major Features of app:<br/>1. Save the forms in the app with a simple click, especially when internet connectivity is not available.<br/>2. Attach photos to the form directly using your phone camera.<br/>3. Upload any number of forms directly to the server in one go.</li>
						<li>Company website: <a href="http://www.thetestament.com"> The Testament </a></li>
					</ul>
				</div>
				<div class="timeline-footer">
					<p class="text-right">JULY 2017</p>
				</div>
			</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge">
				<a><i class="fa fa-circle invert" id=""></i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4>Participated in Smart India Hackathon 2017</h4>
				</div>
				<div class="timeline-body">
					<ul style="padding:0 40px">
						<li>Won competition under NCPCR with 1st position.</li>
						<li>Team name mentioned in Winners list on <a href="https://blog.mygov.in/wp-content/uploads/2017/04/Winners-details.pdf">MyGov</a></li>
						<li>Team Leader of team comprised of 6 girls and two mentors. Team Name : TechnoTwisters</li>
						<li>Created a product named <a href="#">Shikshak Arohan</a> comprising of both an android app and website.</li>
						<li>Product was focused on monitoring Teacher-Student ratio in govt. schools efficiently and track attendance of teachers.</li>
						<li>Gave idea submission under NCPCR and UGC, was selected for both.</li>
					</ul>
				</div>
				<div class="timeline-footer">
					<p class="text-right">DECEMBER 2016 - APRIL 2017</p>
				</div>
			</div>
		</li>

		<li>
			<div class="timeline-badge">
				<a><i class="fa fa-circle" id=""></i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4>Android Developer at Creapptic Technologies</h4>
				</div>
				<div class="timeline-body">
					<ul style="padding:0 40px">
						<li>Worked on android apps Trading Adda & Rotary Mysore West</li>
						<li>Trading Adda: <a href="https://play.google.com/store/apps/details?id=trading.adda"> On playstore </a></li>
						<li>Rotary Mysore West: <a href="https://play.google.com/store/apps/details?id=naddy.rotary"> On playstore </a></li>
					</ul>
				</div>
				<div class="timeline-footer">
					<p class="text-right">OCTOBER 2014 - PRESENT</p>
				</div>
			</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge">
				<a><i class="fa fa-circle invert" id=""></i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4>B.Tech. Computer Scienece</h4>
				</div>
				<div class="timeline-body">
					<ul style="padding:0 40px">
						<li>From Indira Gandhi Delhi Technical University for Women.</li>
						<li>Aggregate percentage till 6th Semester is 85.77%</li>
						<li>Upgraded from IT to CSE after 1st Year.</li>
						<li>Participated in Online social media training during June-July 2016.</li>
						<li>Took session on git and similar topics.</li>
					</ul>
				</div>
				<div class="timeline-footer">
					<p class="text-right">AUGUST 2014 - MAY 2018 (Expected)</p>
				</div>
			</div>
		</li>

		<li>
			<div class="timeline-badge">
				<a><i class="fa fa-circle" id=""></i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4>12th from CBSE</h4>
				</div>
				<div class="timeline-body">
					<ul style="padding:0 40px">
						<li>Scored 94.6% in 12th Standard</li>
						<li>Completed from Vivekanad School.</li>
						<li>Subjects: Physics, Chemistry, Maths, Computer Science & English</li>
						<li>Had an academic scholarship of 50% during 12th.</li>
					</ul>
				</div>
				<div class="timeline-footer">
					<p class="text-right">APRIL 2013 - MAY 2014</p>
				</div>
			</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge">
				<a><i class="fa fa-circle invert" id=""></i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4>10th from CBSE</h4>
				</div>
				<div class="timeline-body">
					<ul style="padding:0 40px">
						<li>Scored 10/10 CGPA in 10th Standarad</li>
						<li>Completed from Nav Jeevan Adarsh Public School</li>
					</ul>
				</div>
				<div class="timeline-footer">
					<p class="text-right">APRIL 2011 - MAY 2012</p>
				</div>
			</div>
		</li>

		<li class="clearfix no-float"></li>
	</ul>
</div>

<!-- start Skills Section -->
<section id="tm_sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h1>TECHNICAL SKILLS</h1>
					<h2>Programming languages, Software packages, Web frameworks, Version Control, etc.</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
				<div class="all_team">
					{% for skill in skills %}
					<div class="sngl_team">
						{% with 'images/'|add:skill.image as image_static %}
							<img src="{% static image_static %}" alt=""/>
						{% endwith %}
						<h3> {{ skill.title }} <span>{{ skill.sub_title }}</span></h3>
						<p>{{ skill.description }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End our team Section -->

<!-- start progress bar Section -->
<section id="skill_sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h1>My Skill diagram</h1>
					<h2 style="color:#000000">I am a software developer</h2>
				</div>
			</div>
			<div class="skills progress-bar1">
				<ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
					<li class="progress">
						<div class="progress-bar" data-width="75">
							compile 'android.app:development-v16:21.2.97' 75%
						</div>
					</li>
					<li class="progress">
						<div class="progress-bar" data-width="50">
							#include&lt;C/C++&gt; 50%
						</div>
					</li>
					<li class="progress">
						<div class="progress-bar" data-width="80">
							&lt;HTML/CSS Design&gt; 80%
						</div>
					</li>
					<li class="progress">
						<div class="progress-bar" data-width="70">
							getElementById(Javascript) 70%
						</div>
					</li>
				</ul>
				<ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
					<li class="progress">
						<div class="progress-bar" data-width="65">
							import Java; 65%
						</div>
					</li>
					<li class="progress">
						<div class="progress-bar" data-width="75">
							Git & --Github 75%
						</div>
					</li>
					<li class="progress">
						<div class="progress-bar" data-width="85">
							Data-&gt;Structures-&gt;and-&gt;Algorithms 85%
						</div>
					</li>
					<li class="progress">
						<div class="progress-bar" data-width="70">
							CREATE TABLE "SQL and Databases"; 70%
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End progress bar Section -->

<!-- start contact us Section -->
<section id="ctn_sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h1>Contact Info</h1>
					<h2>A learner and software developer from Delhi, India</h2>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="cnt_form">
					<h3> I also have some private projects(not on github), if you want to know about them, please write to me.</h3>
					<form id="contact-form" class="contact" name="contact-form" method="post" action="#">
						<div class="form-group">
							<input type="text" name="name" class="form-control name-field" required="required" placeholder="Your Name*">
						</div>
						<div class="form-group">
							<input type="email" name="email" class="form-control mail-field" required="required" placeholder="Your Email*">
						</div>
						<div class="form-group">
							<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message*"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" name="submit" class="btn btn-primary" value="Send">Send</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="cnt_info">
					<ul>
						<li><a href="http://igdtuw.ac.in/"><i class="fa fa-institution"></i><p>Indira Gandhi Delhi Technical University for Women</p></a></li>
						<li><div id="mail_to_me" onclick='window.open("mailto:meghaaggarwal493@gmail.com");'><i class="fa fa-envelope"></i><p>meghaaggarwal493@gmail.com</p><div></li>
							<li><a href="https://github.com/codeb1ooded"><i class="fa fa-github"></i><p>codeb1ooded</p></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End contact us  Section -->

	<!-- start footer Section -->
	<footer id="ft_sec" style="background-color:#D1DBDD">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="ft">
						<ul>
							<li><a href="https://github.com/codeb1ooded"><i class="fa fa-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/megha-aggarwal-772440104"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://www.facebook.com/meghaaggarwal.yv"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://plus.google.com/+MeghaAggarwalMe"><i class="fa fa-google"></i></a></li>
							<li><a href="https://twitter.com/Megha__Aggarwal"><i class="fa fa-twitter"></i></a></li>
							<!-- <li><a href=""><i class="fa fa-wordpress"></i></a></li> -->
						</ul>
					</div>
					<ul class="copy_right">
						<li>&copy;Megha Aggarwal</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Section -->

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/appear.js' %}"></script>
	<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/showHide.js' %}"></script>
	<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/scrolling-nav.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>

	<script src="{% static 'js/main.js' %}"></script>

	<script src="{% static 'js/showHide.js' %}" type="text/javascript"></script>

	<script type="text/javascript">

	$(document).ready(function(){


		$('.show_hide').showHide({
			speed: 1000,  // speed you want the toggle to happen
			easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
			changeText: 1, // if you dont want the button text to change, set this to 0
			showText: 'View',// the button text to show when a div is closed
			hideText: 'Close' // the button text to show when a div is open

		});


	});

	</script>
	<script>
	jQuery(document).ready(function( $ ) {
		$('.counter').counterUp({
			delay: 10,
			time: 1000
		});
	});
	</script>

	<script>

	//Hide Overflow of Body on DOM Ready //
	$(document).ready(function(){
		$("body").css("overflow", "hidden");
	});

	// Show Overflow of Body when Everything has Loaded
	$(window).load(function(){
		$("body").css("overflow", "visible");
		var nice=$('html').niceScroll({
			cursorborder:"5",
			cursorcolor:"#00AFF0",
			cursorwidth:"3px",
			boxzoom:true,
			autohidemode:true
		});

	});
	</script>



</body>
</html>
