 @media (min-width:1200px) {
    .left_crousel_btn {
        left : 30px;
    }
    .right_crousel_btn {
        right : 30px;
    }
}
@media (min-width:992px) and (max-width:1169px) {
    .container {
        width : 970px;
    }
    .lts_pst img {
        width : 100%;
    }
    #InputName {
        width : 205px;
    }
    #InputEmail {
        width : 205px;
    }
    .title_sec {
        width : 750px;
    }
    .abt {
        width : 820px;
    }
    #protfolio_sec .single-portfolio {
        margin-left : 10px;
    }
    .left_crousel_btn {
        left : 30px;
    }
    .right_crousel_btn {
        right : 30px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .container {
    width : 750px;
    }
    .lts_pst img {
    width : 100%;
    }
    .title_sec {
    width : 100%;
    }
    .abt {
    width : 100%;
    }
    .sngl_pricing {
    margin-bottom : 40px;
    }
    .service {
    margin-bottom : 20px;
    }
    #protfolio_sec .single-portfolio {
    margin-left : 240px;
    }
    .lts_pst {
    margin-bottom : 40px;
    }
    .left_crousel_btn {
    left : 30px;
    }
    .right_crousel_btn {
    right : 30px;
    }
    .widget {
    float : left;
    }
    }
    @media (max-width:767px) {
    .container {
        width : 300px;
    }
    .title_sec {
        width : 100%;
    }
    .abt {
        width : 100%;
    }
    .sngl_pricing {
        margin-bottom : 40px;
    }
    .service {
        margin-bottom : 20px;
    }
    #protfolio_sec ul.filter {
        padding-left : 25px;
    }
    .main_menu_sec {
        padding-bottom : 18px;
    }
    .lft_hd img {
        margin-top : 9px;
    }
    .sngl_achievement p {
        width : 260px;
    }
    .lts_pst > img {
        width : 100%;
    }
    .right_crousel_btn {
        right : 0;
    }
    .left_crousel_btn {
        left : 0;
    }
    .author_info > img {
        width : 100%;
        margin-bottom : 20px;
    }
}
@media only screen and (min-width:320px) and (max-width:479px) {}


/* -----------------------------------------------
* Project cards
* --------------------------------------------- */
@media (min-width: 640px) {
  .project-card {
    flex-direction: row;
    max-width: 700px;
  }
  .project-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .project-card .description {
    flex-basis: 60%;
  }
  .project-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .project-card.alt {
    flex-direction: row-reverse;
  }
  .project-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .project-card.alt .details {
    padding-left: 25px;
  }
}
