@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
	box-sizing: border-box;
	font-family : 'Lato', sans-serif;
	background : #fff;
}
body p {
	color : #666666;
	font-family : "Lato", sans-serif;
	font-size : 14px;
	letter-spacing : 1px;
}
body h1, h2, h3, h4, h5{
	color : #141414;
	font-family : "Lato", sans-serif;
	font-size : 18px;
	text-transform : capitalize;
	font-weight : 800;
	text-transform : uppercase;
}
h6{
	font-size : 15px;
	color : #141414;
	font-family : "Lato", sans-serif;
	font-weight : 800;
}
a:hover {
	text-decoration : none;
}
.navbar {
	padding : 10px 0;
	transition : background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
	padding : 0;
}
#loader-wrapper .logo {
	left : 48.7%;
	position : absolute;
	top : 48%;
}
#loader-wrapper .logo a {
	font-weight : 700;
	color : #3498DB;
	font-size : 12px;
}
.logo span {
	color : #f85654;
}
#loader-wrapper {
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 999999;
	background : #fff;
}
#loader {
	display : block;
	position : relative;
	left : 50%;
	top : 50%;
	width : 150px;
	height : 150px;
	margin : -75px 0 0 -75px;
	border-radius : 50%;
	border : transparent solid 3px;
	border-top-color : #3498db;
	animation : spin 2s linear infinite;
}
#loader:before {
	content : "";
	position : absolute;
	top : 5px;
	left : 5px;
	right : 5px;
	bottom : 5px;
	border-radius : 50%;
	border : transparent solid 3px;
	border-top-color : #444;
	animation : spin 3s linear infinite;
}
#loader:after {
	content : "";
	position : absolute;
	top : 15px;
	left : 15px;
	right : 15px;
	bottom : 15px;
	border-radius : 50%;
	border : transparent solid 3px;
	border-top-color : #1487b2;
	animation : spin 1.5s linear infinite;
}
@keyframes spin {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(360deg);
	}
}
#nav_menu ul {
	float : right;
	list-style : none outside none;
	margin : 0;
	padding : 0;
	position : relative;
}
#nav_menu ul a {
	color : #ffffff;
	display : block;
	font-family : lato;
	font-size : 14px;
	font-weight : bold;
	line-height : 32px;
	padding : 25px 14px;
	text-decoration : none;
	text-transform : capitalize;
	transition : all 0.4s 0s ease;
}
#nav_menu ul li {
	float : left;
	padding : 0;
	position : relative;
}
#nav_menu ul li a:hover {
	transition : all 0.4s 0s ease;
	background : #0078BF;
}
#nav_menu ul ul {
	background : none 0 0 repeat scroll #0078bf;
	display : none;
	left : 0;
	padding : 0;
	position : absolute;
	top : 100%;
	z-index : 9999;
	padding : 10px;
}
#nav_menu ul ul li {
	float : none;
	width : 200px;
}
#nav_menu ul ul a {
	line-height : 120%;
	padding : 10px 29px;
}
#nav_menu ul ul li a:hover {
	transition : all 0.4s 0s ease;
	background : #333333;
}
#nav_menu ul ul ul {
	top : 0;
	left : 100%;
}
#nav_menu ul li:hover > ul {
	display : block;
}
#nav_menu ul li a i {
	margin-left : 6px;
}
#src_sec {
	background-image : url("../img/slide_img.jpg");
	background-position : center center;
	background-size : cover;
	min-height : 500px;
}
#abt_sec {
	padding : 70px 0;
}
.lft_hd img {
	float : left;
	margin : 15px;
	width : 76px;
}
.title_sec {
	margin : 0 auto;
	padding : 0 0 25px 0;
	text-align : center;
}
.title_sec h2 {
	color : #606060;
	font-size : 12px;
	text-transform : uppercase;
	letter-spacing : 1px;
}
.abt {
	margin : 0 auto;
	text-align : center;
}
#skill_sec {
	padding-top : 30px;
}
.skills-wrap .container {
	padding : 70px 0;
}
.progress {
	height : 35px;
	line-height : 35px;
	margin-bottom : 45px;
	background : #d3d3d3;
	border-radius : 0;
	box-shadow : none;
	list-style : none;
}
.progress-bar {
	font-weight : 600;
	line-height : 35px;
	padding-left : 20px;
	text-align : left;
}
.progress-bar1 .progress-bar {
	background : #00AFF0;
}
#message {
	height : 90px;
}
.wrap_caption {
	padding : 190px 0;
}
.slider {
	display : block;
	text-align : center;
	vertical-align : middle;
	width : 100%;
}
#slider_sec {
	background-image : url("../images/slider.jpg");
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
	height : 650px;
	width : 100%;
}
.left_crousel_btn, .right_crousel_btn {
	color : #fff;
	height : 20px;
	position : absolute;
	text-align : center;
	top : 50%;
	width : 20px;
	font-size : 25px;
	font-weight : normal;
}
.caption_carousel h1 {
	font-family : lato;
	font-size : 60px;
	text-transform : capitalize;
	color : #fff;
}
.caption_carousel .above_caption_carousel{
	font-family : lato;
	font-size : 14px;
	color : #f6f6f6;
	border-top : 1px solid #fff;
	display : inline;
	line-height : 35px;
	padding : 8px;
}
.caption_carousel .middle_caption_carousel{
	font-family : lato;
	font-size : 14px;
	color : #f6f6f6;
	display : inline;
	line-height : 35px;
	padding : 8px;
}
.caption_carousel .below_caption_carousel{
	font-family : lato;
	font-size : 14px;
	color : #f6f6f6;
	border-bottom : 1px solid #fff;
	display : inline;
	line-height : 35px;
	padding : 8px;
}
.caption_carousel {
	display : table-cell;
	text-align : center;
	vertical-align : middle;
	height : 100%;
	width : 100%;
	margin : 0 auto;
	display : block;
}
.carousel-indicators li {
	background-color : #363636;
	border : none medium;
	border-radius : 5px;
	cursor : pointer;
	display : inline-block;
	height : 6px;
	text-indent : 0;
	width : 25px;
}
.carousel-indicators .active {
	width : 25px;
	height : 7px;
	background-color : #00AFF0;
}

/* -----------------------------------------------
*  SECTION
* --------------------------------------------- */
#project_sec {
	padding : 150px 0 0 0;
}
.service {

	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;border :1px solid #eeeeee;
	cursor : pointer;
	text-align : center;
	padding : 61px 0;
	margin : 60px;

}
.service:hover .service_hoverly {
	display : block;
}
.service > h2 {
	color : #515050;
	font-size : 14px;
	font-weight : 400;
	text-transform : uppercase;
}
.service_hoverly h2 {
	color : #515050;
	font-size : 14px;
	font-weight : 400;
	text-transform : uppercase;
	margin : 0;
	padding-bottom : 30px;
}
.service i {
	font-size : 50px;
	color : #03B0F0;
	position : relative;
}
.service_hoverly {

	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	border :1px solid #03B0F0;
	display : none;
	padding : 25px 10px;
	position : absolute;
	top : 60px;
	left : 60px;
	right : 60px;
	background : #fff;
}
.service_hoverly i {
	background : none 0 0 repeat scroll #fff;
	font-size : 50px;
	position : relative;
	top : -50px;
}
#protfolio_sec {
	background : none 0 0 repeat scroll #f0f0f0;
	padding : 70px 0;
}
#tm_sec {
	padding : 70px 0;
}
.sngl_team h3 {
	font-size : 14px;
	text-transform : uppercase;
	color : #333333;
}
.sngl_team {
	text-align : center;
	width : 100%;
}
.owl-item .sngl_team img {
	margin : 0 auto;
	text-align : center;
	width : 130px;
}
.sngl_team span {
	color : #00aff0;
	font-family : lato;
	font-size : 13px;
	margin-left : 10px;
	text-transform : uppercase;
}
.all_team .owl-controls .owl-prev i {
	color : #3399ff;
	font-size : 30px;
	position : absolute;
	top : 46%;
	left : 0;
}
.all_team .owl-controls .owl-next i {
	position : absolute;
	top : 46%;
	font-size : 30px;
	color : #3399FF;
	right : 0%;
}
.all_team .owl-controls .owl-dot {
	background-color : #363636;
	border : none medium;
	border-radius : 5px;
	cursor : pointer;
	display : inline-block;
	height : 6px;
	text-indent : 0;
	width : 25px;
	margin-right : 5px;
}
.all_team .owl-controls .owl-dot.active {
	background-color : #03B0F0;
}
.all_team .owl-controls {
	display : inline-block;
	width : 100%;
	text-align : center;
}
#achievement_section {
	background-image : url("../images/testimonial_bg.jpg");
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
	padding : 40px 0;
}
#skill_sec {
	background-image : url("../images/skills_diag.jpg");
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
	padding : 40px 0;
}
.all_tstm {
	display : table;
	width : 100%;
	height : 100%;
}
.sngl_tstm {
	display : table-cell;
	height : 100%;
	text-align : center;
	vertical-align : middle;
}
.sngl_tstm i {
	font-size : 25px;
	color : #fff;
}
.sngl_tstm h3 {
	color : #fff;
	font-size : 24px;
	letter-spacing : 1px;
	text-transform : uppercase;
}
.sngl_tstm p {
	color : #ffffff;
	font-size : 16px;
	line-height : 30px;
}
.sngl_tstm h6 {
	font-size : 12px;
	text-transform : uppercase;
	color : #fff;
}
.clnt_tstm {
	width : 780px;
	margin : 0 auto;
}
#achievement_section .owl-controls .owl-dot {
	background-color : #fff;
	border : none medium;
	border-radius : 5px;
	cursor : pointer;
	display : inline-block;
	height : 6px;
	text-indent : 0;
	width : 25px;
	margin-right : 5px;
}
#achievement_section .owl-controls .owl-dot.active {
	background-color : #03B0F0;
}
#achievement_section .owl-controls {
	display : inline-block;
	width : 100%;
	text-align : center;
}
#achievement_section .owl-controls .owl-nav {
	display : none;
}
.lts_pst > img {
	width: 100%;
}
.lts_pst h2 {
	color : #333333;
	font-size : 14px;
	text-transform : uppercase;
}
.lts_pst a {
	border-bottom : 1px solid #333333;
	color : #333333;
	font-family : lato;
	text-transform : capitalize;
}
.lts_pst a:hover {
	border-bottom : 1px solid #00AFF0;
}
.title_bg_1 {
	background-image : url("../img/basic.jpg");
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
}
.title_bg_2 {
	background-image : url("../images/standar.jpg");
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
}
.title_bg_3 {
	background-image : url("../images/extended.jpg");
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
}
.currency {
	font-size : 24px;
	position : relative;
	top : -18px;
}
.monuth {
	font-size : 24px;
	text-transform : none;
}
.btn.pricing_btn {
	background : none 0 0 repeat scroll #00aff0;
	border : #666666 solid 1px;
	color : #fff;
	text-transform : uppercase;
	padding : 10px 30px;
}
#clt_sec {
	background : #F0F0F0;
	padding : 70px 0;
}
.owl-item .sngl_clt a {
	text-align : left;
	width : 100%;
	display : inline-block;
	margin-left : 40px;
}
.owl-item .sngl_clt img {
	width : 100px;
}
#clt_sec .owl-controls .owl-nav {
	display : none;
}
#ctn_sec {
	padding : 70px 0;
}
#cnt_form .btn {
	background : #353638;
	padding : 10px 35px;
}
#cnt_form .form-control:focus {
	border : #0080FF solid 1px;
}
.cnt_info ul {
	margin : 0;
	padding : 0;
	border-left : 1px solid #C7C7C7;
	padding-left : 30px;
}
.cnt_info ul li {
	list-style : none outside none;
	padding : 15px 0;
}
.cnt_info ul li i {
	color : #818181;
	float : left;
	margin-top : 5px;
}
.cnt_info p {
	padding-left : 30px;
}
.map_area {
	margin-bottom : 93px;
}
.ft ul {
	margin : 0;
	padding : 0;
	text-align : center;
}
.ft ul li {
	list-style : none outside none;
	padding-right : 10px;
	display : inline;
}
.ft ul li a {
	border : #818181 solid 1px;
	border-radius : 50px;
	display : inline-block;
	margin : 0 auto;
	padding : 7px 11px;
	text-align : center;
}
.ft ul li a i {
	color : #363636;
	font-size : 15px;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s
}
.ft ul li a i:hover {
	color : #00AFF0;transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s
}
.ft ul li .fa-facebook {
	padding : 3px;
}
#ltd_map_sec {
	background : none 0 0 repeat scroll #363636;
	text-align : center;
}
.map > h1 {
	color : #fff;
	font-size : 20px;
	font-weight : normal;
	text-transform : uppercase;
}
#ft_sec {
	padding : 70px 0;
}
.copy_right {
	margin : 0;
	padding : 0;
}
.copy_right li {
	font-size : 14px;
	font-weight : 600;
	list-style : none outside none;
	padding : 2px;
	text-align : center;
	color : #818181;
	text-transform : uppercase;
}
.copy_right {
	margin : 0;
	padding : 0;
	margin-top : 18px;
}
.map i {
	font-size : 22px;
	font-weight : bold;
	color : #fff;
	margin-left : 15px;
}
.show_hide {
	color : #3399FF;
	margin-left : 15px;
}
#blg_sec {
	padding : 100px 0;
}
.main_menu_sec {
	background : none 0 0 repeat scroll #353638;
	border : none 0;
	margin : 0;
}
.post_info i {
	background : none 0 0 repeat scroll #00aff0;
	color : #fff;
	float : left;
	font-size : 30px;
	padding : 10px;
	margin-right : 15px;
}
.post_info ul {
	margin : 0;
	padding : 0;
}
.post_info ul li {
	list-style : none;
	float : left;
}
.post_intro {
	padding-top : 15px;
}
.post_intro h2 {
	color : #333333;
	font-size : 14px;
	font-weight : bold;
	text-transform : uppercase;
	display : inline;
	line-height : 30px;
}
.post_info ul li {
	float : left;
	list-style : none outside none;
	color : #a3a7b2;
	font-size : 12px;
	text-transform : capitalize;
	font-family : lato;
}
.post_content {
	border-bottom : 1px solid #e3e3e3;
	float : left;
	line-height : 25px;
	padding : 30px 0;
}
.post_content > a {
	color : #666666;
	font-family : lato;
	font-size : 12px;
	border-bottom : 1px solid #666666;
	line-height : 40px;
	padding : 8px 0;
}
.post_content > a:hover {
	border-bottom : 1px solid #00AFF0;
}
#sr_bx {
	border : #C4C4C4 solid 1px;
	padding : 12px;
	width : 100%;
}
.sidebar h2 {
	color : #333333;
	font-size : 14px;
	text-transform : uppercase;
	margin-top : 30px;
}
.title_br {
	border-bottom : 2px solid #666666;
	width : 50px;
}
.sidebar ul {
	margin : 0;
	padding : 0;
}
.sidebar ul li {
	border-bottom : 1px solid #e2e2e2;
	list-style : none outside none;
	padding : 15px 0;
}
.sidebar ul li a {
	color : #666666;
	font-size : 14px;
	text-transform : capitalize;transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s
}
.sidebar ul li a:hover{
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	color:#00AFF0;
}
.flickr li {
	border : 0 !important ;
}
.flickr li {
	float : left;
	padding-right : 6px;
	width : 90px;
}
.tag > li {
	border : none medium !important ;
	float : left;
}
.tag li a {
	border : #666666 solid 1px;
	padding : 10px;
	margin-right : 5px;
}
.sngl_blg > img {
	width : 100%;
	height : 100%;
}
.author_dec h3 {
	margin : 0;
	color : #333333;
	font-size : 14px;
	margin-bottom : 11px;
}
.author_info {
	border-bottom : 1px solid #e3e3e3;
	display : inline-block;
	padding : 22px 0;
	margin-bottom : 30px;
}
.author_info > img {
	float : left;
	margin-right : 35px;
}
.social_link {
	margin : 0;
	padding : 0;
	float : right;
	display : inline-flex;
}
.social_link li {
	list-style : none;
}
.social_link li a i {
	color : #363636;
	float : left;
	padding : 6px;
}
.form-control.single_cnt {
	width : 355px !important ;
}
.single_cnt_m {
	width : 731px !important ;
}


/* -----------------------------------------------
* Project cards
* --------------------------------------------- */

.project-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.project-card a {
  color: inherit;
}
.project-card a:hover {
  color: #5ad67d;
}
.project-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.project-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.project-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.project-card .details,
.project-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.project-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}
.project-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.project-card .details ul li {
  display: inline-block;
}
.project-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.project-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.project-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.project-card .details .tags li {
  margin-right: 2px;
}
.project-card .details .tags li:first-child {
  margin-left: -4px;
}
.project-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.project-card .description h1,
.project-card .description h2 {
  font-family: Poppins, sans-serif;
}
.project-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.project-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.project-card .description .read-more {
  text-align: right;
}
.project-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.project-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.project-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.project-card p {
  position: relative;
  margin: 1rem 0 0;
}
.project-card p:first-of-type {
  margin-top: 1.25rem;
}
.project-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.project-card:hover .details {
  left: 0%;
}


/* -----------------------------------------------
* Timeline Work Experience
* --------------------------------------------- */
#title-work-experience{
	margin-bottom: 30px;
	color: #4679bd;
	font-weight: 400;
	text-align: center;
}
#container-timeline{
	background-image: url(../images/background_timeline.jpg);
}
.timeline {
	list-style: none;
	padding: 10px 0;
	font-family: 'Open Sans';
	margin: 5px 20px;
	position: relative;
	font-weight: 300;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content:" ";
	width: 2px;
	background: #ffffff;
	left: 50%;
	margin-left: -1.5px;
}
.timeline > li {
	margin-bottom: 40px;
	position: relative;
	width: 50%;
	float: left;
	clear: left;
}
.timeline > li:before, .timeline > li:after {
	content:" ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before, .timeline > li:after {
	content:" ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: calc(100% - 25px);
	width: -moz-calc(100% - 25px);
	width: -webkit-calc(100% - 25px);
	float: left;
	border: 1px solid #dcdcdc;
	background: #ffffff;
	position: relative;
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #dcdcdc;
	border-right: 0 solid #dcdcdc;
	border-bottom: 15px solid transparent;
	content:" ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #ffffff;
	border-right: 0 solid #ffffff;
	border-bottom: 14px solid transparent;
	content:" ";
}
.timeline > li > .timeline-badge {
	color: #ffffff;
	width: 24px;
	height: 24px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 16px;
	right: -12px;
	z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline-badge > a {
	color: #ffffff !important;
}
.timeline-badge a:hover {
	color: #dcdcdc !important;
}
.timeline-title {
	margin-top: 0;
	color: inherit;
}
.timeline-heading h4 {
	font-weight: 400;
	padding: 0 15px;
	color: #4679bd;
}
.timeline-body > p, .timeline-body > ul {
	padding: 10px 15px;
	margin-bottom: 0;
}
.timeline-footer {
	padding: 5px 15px;
	background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
	cursor: pointer;
	text-decoration: none;
}
.timeline > li.timeline-inverted {
	float: right;
	clear: right;
}
.timeline > li:nth-child(1) {
	margin-top: 30px;
}
.timeline > li:nth-child(2) {
	margin-top: 60px;
}
.timeline > li:nth-child(4) {
	margin-top: 10px;
}
.timeline > li.timeline-inverted > .timeline-badge {
	left: -12px;
}
.no-float {
	float: none !important;
}
@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}
	ul.timeline > li {
		margin-bottom: 0px;
		position: relative;
		width:100%;
		float: left;
		clear: left;
	}
	ul.timeline > li > .timeline-panel {
		width: calc(100% - 65px);
		width: -moz-calc(100% - 65px);
		width: -webkit-calc(100% - 65px);
	}
	ul.timeline > li > .timeline-badge {
		left: 28px;
		margin-left: 0;
		top: 16px;
	}
	ul.timeline > li > .timeline-panel {
		float: right;
	}
	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
	.timeline > li.timeline-inverted {
		float: left;
		clear: left;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.timeline > li.timeline-inverted > .timeline-badge {
		left: 28px;
	}
}
